<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iped.ipcam.gui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4"/>
    
	<uses-permission android:name="android.permission.INTERNET"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />
 	
 	<uses-permission android:name="android.permission.DEVICE_POWER" /> 
 	
 	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>  
 	
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	
    <!--  android:name=".WebTabWidget" -->
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".WebCam" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".WebTabWidget" android:configChanges="keyboardHidden|orientation" android:theme="@android:style/Theme.NoTitleBar"/>

        <activity android:name=".LeftVideoView"/>
        
        <activity android:name=".CamVideoH264" android:configChanges="orientation|keyboard"/>
        
        <activity android:name=".DeviceManager"/>
        
        <activity android:name=".DeviceParamSets">
        	<intent-filter>
        	    <action android:name="android.intent.action.QUERY_CONFIG_ACTION"/>
        	    <category android:name="android.intent.category.DEFAULT"/>
        	    <data android:mimeType="vnd.android.webcam.type/vnd.iped.webcam"/>
        	</intent-filter>    
        </activity>
        
        <activity android:name=".PlayBack"/>
        
        <activity android:name=".SystemSettings"/>
        
        <activity android:name=".List1" android:theme="@android:style/Theme.Dialog"/>
        
        <activity android:name=".DirPreview" android:theme="@android:style/Theme.NoTitleBar"/>
        
    </application>

</manifest>